.q2 button{
  margin:20px;
  padding:25px;
  min-width: 140px;
}
.btnRight{
  float:right;
}
.question {
	display: none;
}

.answers {
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
}

p.answer-paragraph > p {
  font-size: 15px;
}